<div class="page-content">
    <app-page-header pageTitle="Home" pageIcon="home" pageDescription="Homepage Description"></app-page-header>
<app-info-panel></app-info-panel>
    <section class="blogs-section">
        <mat-card color="accent">
            <mat-card-header>
                <mat-card-title class="page-title">
                    <mat-icon>now_widgets</mat-icon>
                    <h2>Recent Blogs</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="blogs">
                    <div class="blog">
                        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <div class="blog-title"><strong> Lorem ipsum dolor sit amet</strong></div>
                        <div class="desc">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam doloribus
                                nisi a officia
                                tempore. Rem illo vitae eaque, perspiciatis, autem placeat quidem repellat cum
                                sequi dolore
                                reprehenderit ab quo! Vitae!</p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <div class="blog-title"><strong> Lorem ipsum dolor sit amet</strong></div>
                        <div class="desc">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam doloribus
                                nisi a officia
                                tempore. Rem illo vitae eaque, perspiciatis, autem placeat quidem repellat cum
                                sequi dolore
                                reprehenderit ab quo! Vitae!</p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <div class="blog-title"><strong> Lorem ipsum dolor sit amet</strong></div>
                        <div class="desc">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam doloribus
                                nisi a officia
                                tempore. Rem illo vitae eaque, perspiciatis, autem placeat quidem repellat cum
                                sequi dolore
                                reprehenderit ab quo! Vitae!</p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <div class="blog-title"><strong> Lorem ipsum dolor sit amet</strong></div>
                        <div class="desc">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam doloribus
                                nisi a officia
                                tempore. Rem illo vitae eaque, perspiciatis, autem placeat quidem repellat cum
                                sequi dolore
                                reprehenderit ab quo! Vitae!</p>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </section>

</div>