@import "../../../styles.scss";

.blogs-section {
  padding-top: 10px;
  .blogs {
    padding: 0 16px;
    display: flex;
    .blog {
      width: 25%;
      padding: 10px;
      img {
        width: 100%;
        max-width: 120px;
        border-radius: 6px;
      }
      .blog-title {
        margin: 12px 0;
      }
    }
  }
}
