<div class="site-header">
  <mat-toolbar color="accent" class="p-lr-2">
    <h1 class="site-title"><span><span>L</span>OREM</span> <span><span>I</span>PSUM</span></h1>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon class="material-icons-outlined">notifications_none</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</div>
<mat-sidenav-container style="height: 100%">
  <mat-sidenav mode="side" opened style="width: 220px;">
    <div class="sidewrapper">
      <div class="sidebar-title">
        <strong class="t-black">MENU</strong>
      </div>
      <mat-selection-list #menuItem [multiple]="false">
        <mat-list-option *ngFor="let item of menuItems" [value]="item.name" [selected]="item.selected">
          <div class="side-menu-item">
            <mat-icon>{{item.icon}}</mat-icon>
            <span>{{item.text}}</span>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="page-content">
      <section class="page-header">
        <mat-card color="accent">
          <mat-card-header>
            <mat-card-title class="page-title">
              <mat-icon>home</mat-icon>
              <h2>Home</h2>
            </mat-card-title>
          </mat-card-header>
          <div class="page-description">
            <p>Home page description</p>
          </div>
        </mat-card>
      </section>

      <section class="cards-section">
        <div class="info-card">
          <mat-card color="accent">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>
                <mat-icon color="primary">home</mat-icon>
              </mat-card-title>

            </mat-card-header>
            <mat-card-content>
              <div class="count"><strong class="t-black">345</strong></div>
              <div class="count-text">
                <p>Total Orders</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="info-card">
          <mat-card color="accent">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>
                <mat-icon color="primary">home</mat-icon>
              </mat-card-title>

            </mat-card-header>
            <mat-card-content>
              <div class="count"><strong class="t-black">345</strong></div>
              <div class="count-text">
                <p>Total Orders</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="info-card">
          <mat-card color="accent">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>
                <mat-icon color="primary">home</mat-icon>
              </mat-card-title>

            </mat-card-header>
            <mat-card-content>
              <div class="count"><strong class="t-black">345</strong></div>
              <div class="count-text">
                <p>Total Orders</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="info-card">
          <mat-card color="accent">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>
                <mat-icon color="primary">home</mat-icon>
              </mat-card-title>

            </mat-card-header>
            <mat-card-content>
              <div class="count"><strong class="t-black">345</strong></div>
              <div class="count-text">
                <p>Total Orders</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </section>

      <section class="blogs-section">
        <mat-card color="accent">
          <mat-card-header>
            <mat-card-title class="page-title">
              <mat-icon>now_widgets</mat-icon>
              <h2>Recent Blogs</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="blogs">
              <div class="blog">
                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                  alt="Photo of a Shiba Inu">
                <div class="blog-title"><strong> Lorem ipsum dolor sit amet</strong></div>
                <div class="desc">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam doloribus nisi a officia
                    tempore. Rem illo vitae eaque, perspiciatis, autem placeat quidem repellat cum sequi dolore
                    reprehenderit ab quo! Vitae!</p>
                </div>
              </div>
              <div class="blog">
                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="blog-title"><strong> Lorem ipsum dolor sit amet</strong></div>
                <div class="desc">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam doloribus nisi a officia
                    tempore. Rem illo vitae eaque, perspiciatis, autem placeat quidem repellat cum sequi dolore
                    reprehenderit ab quo! Vitae!</p>
                </div>
              </div>
              <div class="blog">
                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="blog-title"><strong> Lorem ipsum dolor sit amet</strong></div>
                <div class="desc">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam doloribus nisi a officia
                    tempore. Rem illo vitae eaque, perspiciatis, autem placeat quidem repellat cum sequi dolore
                    reprehenderit ab quo! Vitae!</p>
                </div>
              </div>
              <div class="blog">
                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="blog-title"><strong> Lorem ipsum dolor sit amet</strong></div>
                <div class="desc">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam doloribus nisi a officia
                    tempore. Rem illo vitae eaque, perspiciatis, autem placeat quidem repellat cum sequi dolore
                    reprehenderit ab quo! Vitae!</p>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </section>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>