$primary: #47a1f6;
$primary-contrast: white;
$bg-color: #f0f5fb;
$text-color: #668094;

body {
  background-color: $bg-color;
}
p {
  margin: 0;
}
.t-black {
  color: black;
}
.page-content {
  padding: 10px;
}
.mat-list-single-selected-option
  .mat-list-item-content.mat-list-item-content-reverse {
  background-color: $primary;
  color: $primary-contrast;
}
.mat-list-item-content.mat-list-item-content-reverse {
  margin: 0 8px;
  border-radius: 5px;
  color: $primary;
}
mat-list-option {
  background-color: white !important;
  height: 30px !important;
}

.mat-card-header-text {
  margin-left: 0 !important;
}

.page-title {
  color: $text-color;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin: 0 !important;
  mat-icon {
    width: 18px;
    height: 18px;
    font-size: 1.1rem;
    margin-right: 8px;
  }
  h2 {
    margin: 0;
    font-size: 0.9rem;
  }
}
.cards-section {
  padding-top: 10px;
  display: flex;
  .info-card {
    width: 25%;
    padding: 0 5px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    mat-card-header {
      justify-content: flex-end;
      margin-bottom: 35px;
      mat-icon {
        width: 40px;
        height: 40px;
        font-size: 2.6rem;
      }
    }
    mat-card-content {
      .count {
        font-size: 2.6rem;
        margin-bottom: 15px;
      }
      .count-text {
        p {
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
  }
}
